<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736563380134-vsnldgvv1tb9970lja5mtgrt6d69lu6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736563380134-vsnldgvv1tb9970lja5mtgrt6d69lu6d</string>
	<key>API_KEY</key>
	<string>AIzaSyD4NCBYNA2ZRwF5DP0vjkI9wleLpomCfmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>736563380134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.idealista.iOSCodeChallenge</string>
	<key>PROJECT_ID</key>
	<string>challengeidealista</string>
	<key>STORAGE_BUCKET</key>
	<string>challengeidealista.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736563380134:ios:9054a66580bf003c7a5967</string>
</dict>
</plist>